# This is a basic workflow that is manually triggered

name: Generate Static Pages

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: sudo apt update
    - run: sudo apt install nodejs npm
    - run: npm install -g ghost-static-site-generator
    - run: gssg --domain "https://help.testapp.io" --url "https://help.superjambo.net"
    - run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git commit -m "auto commit" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
