# This is a basic workflow that is manually triggered

name: Generate Static Pages

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: sudo apt update
    - run: sudo apt install nodejs npm
    - run: npm install -g ghost-static-site-generator
    - run: gssg --domain https://help.testapp.io -url https://help.superjambo.net
    - run: git status
    - name: GitHub Push
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        directory: static
