# This is a basic workflow that is manually triggered

name: Generate Static Pages

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: sudo apt update
    - run: sudo apt install nodejs npm
    - run: npm install -g ghost-static-site-generator
    - run: gssg --domain https://help.testapp.io -url https://help.superjambo.net
    - name: Git Commit and Push
      uses: github-actions-x/commit@v2.8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
